node_modules
.DS_Store
.env
*.log
*.lock
.idea/
.vscode/
dist/
build/
coverage/

# Next.js build files
.next/
out/
build-manifest.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary and system files
Thumbs.db

# Trace files
trace