
@media (min-width: 1199px) and (max-width: 1500px){
    .carousel-control-prev{
        left: 0px;
      }
      .carousel-control-next{
        right: 0px;
      }
}
@media (min-width: 992px) and (max-width: 1199px)  {
    .icon-controller,.social-media{
        display: none !important;
    }
    .nav-content {
        justify-content: space-between;
    }
    .nav {
        flex-direction: row !important;
        white-space: nowrap;
    }
    .cart svg{
        width: 24px;
        height: 24px;
    }
    .product-price-responsive{
        display: block;
      }
      .product-price{
        display: none;
      }
      .carousel-control-prev{
        left: 0px;
      }
      .carousel-control-next{
        right: 0px;
      }
      .cart{
        justify-content: end;
      }
}
@media (width <=991px) {
  .carousel-control-prev,.carousel-control-next {
    display: none;
  }
  .nav-link:focus, .nav-link:hover {
    color: #556b2f;
  }
  .honey-controller,.cart,.social-media {
    display: none !important;
  }
  .icon-controller {
    display: flex;
    justify-content: end;
  }
  .website-logo img {
    width: 60px;
    height: 44px;
  }
  #home {
    margin-top: 5rem;
  }
  .home-label {
    font-size: 1.5rem !important;
    padding: 20px;
  }
  .product-description {
    margin-bottom: 20px;
    height: 100px;
  }
  .product-price-responsive{
    display: block;
  }
  .carousel-inner {
    border-radius: unset;
  }
  .section-title {
    font-size: 2rem;
  }
  .product-title {
    font-size: 26px;
  }
  .prod-desc,
  .primary-btns ,
  .contact-text 
      {
    font-size: 15px;
  }
  .primary-btns {
    width: 100%;
  }
  .product-title {
    display: flex;
    justify-content: space-between;
  }
  .product-price{
    display: none;
  }
  .quantity-buttons {
    justify-content: center;
  }
  .right-content div , .left-content div {
    padding: 5px 20px;  
}
.story-text{
    text-align: center;
}
.form-controller {
    padding: 20px;
    max-width: 100%;
}
.contact-milk img {
    top: 6rem;
}
.contact-honey img,.contact-herbs img {
    left: 5px;
}
.nav.open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav.open ul {
    flex-direction: column;
    align-items: center;
  }
  .nav.open .social-media {
    margin-top: 20px;
  }

}
